body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000000;
}

.cabecalho {
  background-color: #7C7BB9;
  height: 150px;
  width: 100%;
}

.img-cabecalho {
  margin-top: 35px;
}

.menu {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: auto;
  margin: 15px;
}

.menu a {
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.menu a:hover {
  color: #FF8C00;
  text-decoration: underline;
}

.banner {
  width: 100%;
}

h1 {
 color: #DB7093;
}

form {
  margin: 40px;
}

form label, form legend {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
  font-size: 26px;
}

.input-padrao, textarea {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
  border-radius: 10px;
}
.checkbox {
  margin: 20px;
}

.enviar {
  width: 40%;
  padding: 15px;
  margin:  20px;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover{
  background: palevioletred;
  transform: scale(1);
}

td {
  display: inline-block;
}

.produto {
  margin: 0;
  height: 15%;
  width: 15%;
}

.descricao{
  height: 45px;
  width: 200px;
}

.valor-desconto{
  color: red;
  font-weight: bold;
}

.copyright {
  text-align: center;
  font-size: 15px;
  margin: 20px 0;
}